
vvordnot/lib/__pycache__/functions.cpython-311.pyc
vvordnot/app-config.properties
vvordnot/lib/__pycache__/loadprops.cpython-311.pyc
vvordnot/__pycache__/email.cpython-311.pyc
portfolio_python/data/portfolio_data.json
portfolio_python/.xdp-..com.vivaldi.Vivaldi.9xdljA-5GSHNO
portfolio_python/.xdp-..com.vivaldi.Vivaldi.GP76Ji-IkNApi
portfolio_python/.xdp-..com.vivaldi.Vivaldi.KNjB9a-VTpvDg
portfolio_python/.xdp-..com.vivaldi.Vivaldi.L62Txh-RywkQR
